.container {  
	max-width: 1200px; 
	min-width: 650px;  
	margin: 0 auto; 
	padding: 50px;
}
.chart { 
	display: grid;  
	border: 2px solid #000;  
	position: relative;  
	overflow: hidden; 
} 
.chart-row {  
	display: grid; 
	grid-template-columns: 75px 1fr; 
	background-color: #DCDCDC;
}
.chart-period { 
	color:  #fff;  
	background-color:  #708090 !important;  
	border-bottom: 2px solid #000;  
	grid-template-columns: 75px repeat(12, 1fr);

}

.chart-period > span {
	text-align: center;  
	font-size: 15px;  
	align-self: center;  
	font-weight: bold;  
	padding: 15px 0;   
}
.chart-lines { 
	position: absolute;  
	height: 100%;  
	width: 100%;  
	background-color: transparent;  
	grid-template-columns: 75px repeat(12, 1fr);}

.chart-lines > span {  
	display: block;  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.chart-row-item { 
	background-color: #808080;  
	border: 1px solid #000;  
	border-top: 0;  border-left: 0;  
	padding: 20px 0;  font-size: 10px;  
	font-weight: bold;  
	text-align: center;
}
.chart-row-bars { 
	list-style: none; 
	display: grid;  padding: 15px 0;  
	margin: 0;  
	grid-template-columns: repeat(12, 1fr); 
	grid-gap: 10px 0;  
	border-bottom: 1px solid #000;
}
li {  
    font-weight: 450;  
    text-align: left;  
    font-size: 10px;  min-height: 15px;  
    background-color: #708090;  
    padding: 5px 15px;  color: #fff;  
    overflow: hidden;  
    position: relative;  
    cursor: pointer;  
    border-radius: 15px;
 } 
 
ul .chart-li-one { 
 	grid-column: 1/2;  
        background-color: #588BAE;
 }
.formPopup {
	display: none;
	position: fixed;
	left: 45%;
	top: 5%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
}
.formContainer {
	max-width: 300px;
	padding: 20px;
	background-color: #fff;
}
.infoBox {
	display: none;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: grey;
}

.page_title{
    padding-top: 3%;
    padding-left: 13%;
    padding-bottom: 3%;
    
}

.logo{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: aliceblue ;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.navbar-brand{
    max-width: 140px;
    margin-top: 5px;
  }

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


/* kanban */

.kanban {
	display: flex;
	padding: 30px;
	width: 750px;
	background: #2a9d8f;
	border-radius: 5px;
  margin: 0 auto;
}

.kanban * {
	font-family: sans-serif;
}

.kanban__column {
	flex: 1;
}

.kanban__column:not(:last-child) {
	margin-right: 30px;
}

.kanban__column-title {
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	user-select: none;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}




/* Block to hold calender */
.block{
    padding: 3%;
    padding-left: 5%;
    
}

/* Calender app */

#calendar {
    max-width: 1100px;
    margin: 40px auto;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #2a9d8f;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#92a1d1;
}
#container {
  width: 770px;
  position: relative;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #2a9d8f;
}
#weekdays div {
  width: 100px;
  padding: 14px;
  padding-left: 5%;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #2a9d8f;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

/* Mobile view */
@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #2a9d8f;
        color: aliceblue ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}